body {
    background-color: #d4d4d4;
}

.logo {
    height: 200px;
}

.d-none {
    display: none !important;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;

    margin: 0;
}

.ContentHeader {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.boardHeaderControll {
    display: flex;
    gap: 2rem;
    height: 47px;
}

.sortTasks {
    display: flex;
    width: 21rem;
    padding: 7.5px 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
    border: 1px solid var(--icon, #a8a8a8);
    background: #fff;
}

.sortTasks input {
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    outline: none;
}

.sortTasksButton {
    display: flex;
    gap: 1rem;
}

.sortTasks button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    width: 30px;
    background-color: white;
}

.sortTasksSpacer {
    background: #d1d1d1;
    height: 1.9375rem;
    width: 1px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.addTaskButton {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.625rem;
    border: 1px solid #2a3647;
    background: #2a3647;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.stateFields p {

    color: #42526e;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.stateFields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.noTaskFound p {
    color: var(--icon, #a8a8a8);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;
}

.noTaskFound {
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px dashed var(--icon, #a8a8a8);
    background: #e7e7e7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 12px;
    width: 300px;
    gap: 25px;
}

.technicalTask {
    background-color: #76885B;
    border-radius: 10px;
    padding: 2px 10px;
    text-align: center;
    color: white;

}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectName {
    font-weight: bold;
}

.commentSection {
    color: grey;
}

.assignedUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.assignedUser div {
    color: white;
    display: flex;
    border-radius: 100%;
    width: 29px;
    height: 29px;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    border: white 2px solid;
}

.bc1 {
    background-color: violet;
}

.bc2 {
    background-color: purple;
}

.bc3 {
    background-color: pink;
}

.bc4 {
    background-color: grey;
}




.popupContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupCardContainer {
    position: absolute;
    z-index: 3;
}

.popupCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 61.75rem;
    height: 48.375rem;
    background-color: white;
    padding: 4rem;
    border-radius: 50px;
    gap: 0rem;
    justify-content: space-between;
    overflow-y: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.popupWrapper {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.popupHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.leftSide {
    display: flex;
    height: 23.5rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 45%;

}

.rightSide {
    width: 45%;
}

.popupContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seperator-vertical {
    width: 1px;
    height: 26.5rem;
    flex-shrink: 0;
    margin: 0 5%;
    background-color: grey;

}

.contentTitle {
    color: black;
    font-size: 3.8125rem;
    line-height: 120%;
}

#closeAddTaskButton {
    background-color: white;
    border: none;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#closeAddTaskButton:hover {
    background-color: lightgrey;
}


.p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
}

.task-title-input {
    padding: 10px 10px;
    font-size: 1.25rem;
    align-self: stretch;
    border-radius: 0.625rem;
    box-sizing: border-box;
    width: 100%;

}

.descriptionTextArea {
    font-size: 1.25rem;
    align-self: stretch;
    border-radius: 0.625rem;
    box-sizing: border-box;
    width: 100%;
    height: 114px;
    padding: 10px 10px;
    resize: none;

}


.footerPopupCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerButtons {
    display: flex;
    gap: 1rem;
}

#clearButton {
    background-color: transparent;
    color: black;
}

#createTaskButton {
    background-color: black;
    color: white;
    font-weight: 600;
}

#createTaskButton svg path {
    stroke: white;
}

.popupWarpper {
    width: 100%;
}

.popupContent input {
    border: solid 1px lightgrey;
}

.popupContent input:hover {
    border: solid 1px red;
}

.popupContent input:focus {
    outline: none;
    border: 1px solid green;
}

.placeholder {
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px dashed var(--icon, #a8a8a8);
    background: #e7e7e7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 300px;
}

.prioButtons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.prioButton {
    display: flex;
    padding: 1rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    border-radius: 0.625rem;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 1.25rem;
    color: black;
    font-weight: 400;
    width: 8.5rem;
}


.prioButton:hover {
    background-color: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3)
}

#urgentButton svg {
    width: 1.25rem;
}

#mediumButton svg {
    width: 1.25rem;
}

#lowButton svg {
    width: 1.25rem;
}

.urgentButtonActive {
    background-color: red;
    color: white;
}

.mediumButtonActive {
    background-color: orange;
    color: white;
}

.lowButtonActive {
    background-color: blue;
    color: white;
}

.urgentBtnActive svg path {
    fill: white !important;
}

.mediumButtonActive svg path {
    fill: white !important;
}

.lowButtonActive svg path {
    fill: white !important;
}