/* Alles vom Popup Page Content */

.popupCardPageContent {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupCardContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  width: 30%;
  background-color: white;
  padding: 34px;
  border-radius: 50px;
  gap: 30px;
  overflow-y: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.popupCardContent p {
  margin: 20px 0;
}

.popupCardContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popupCardCategory {
  font-size: 20px;
  width: unset;
  padding: 0.25rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #0038ff;
  color: #fff;
}

.popupCardContentHeader a {
  height: 2rem;
  cursor: pointer;
}

.popupCardContentContainer {
  overflow-y: auto;
  scrollbar-width: none;
}

.PopupCardFirstContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#popupCardTitle {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
}

#popupCardDescription {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.popupCardDateContainer {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 1.5625rem;
  padding: 0;
  margin: 0;
}

.popupCardDateContainer p {
  padding: 0;
  margin: 0;
}

.popupCardPriority {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 1.5625rem;
}

.popupCardPriority p {
  padding: 0;
  margin: 0;
}

.popupCardshowPriority {
  display: flex;
  padding: 0.25rem 1.125rem;
  align-items: center;
  gap: 0.625rem;
}

.popupCardshowPriority svg {
  width: 1.25rem;
}

.popupCardAssignedTo {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

#popupCardAssignetToContent {
  max-height: 160px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popupCardAssignetToContentContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.popupCardAssignetToContentContainer p {
  margin: 0;
}

.popupCardAssignedToTitle {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
}

.icon {
  color: white;
  display: flex;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.popupCardSubtasks {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.popupCardContentFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.5rem;
}

.popupCardContentFooter a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footerTrashbin {
  margin-bottom: 5px;
}

#popupCardAssignedToList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.checkboxCheckedContainer {
  text-decoration: line-through 2px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.checkboxCheckedContainer p {
  margin: 0;
}
