/*ich habe das weiß erstmal rausgenommen,
weil es mir die Augen rausbrennen wollte*/
body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #DDDDDD;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


/*------------Sidebar und Header------------*/
/*Sidebar form, farbe etc*/
.sidebar{
    align-items: center;
    display: flex;
    height:100%;
    width: 230px;
    position:fixed!important;
    overflow:hidden;
    background-color: #627254 !important;
    padding: 3rem !important;
    flex-direction: column !important;
    box-shadow:2px 0px 0px 2px #0000001A;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
}
/*Sidebar liste*/
.sidebarnav {
    display: flex;
    padding-left: 0;
    padding-top:2rem;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column !important;
    gap: 0.94rem;
}
.sidebarbutton{
    color: white!important;;
}
.sidebarbutton:hover{
    color:grey!important
}
/*aktiver link in der Sidebar*/
.sidebar-link.active{
    color: white;
    background-color: #76885B;
}
/*alle links in der sidebar*/
.sidebar-link {
    display: block;
    width:15rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
    background: 0 0;
    border: 0;
    font-size: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.header {
    background-color: #DDDDDD;
    box-shadow: 0px 3px 3px 0px #0000001A;
    display: flex;
    position: fixed;
    height: 5rem;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
/*Seiten Hauptteil*/
.content {
    margin-top: 6rem;
    margin-left: 14.5rem;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0.01em 16px
}
.logo {
    color: white;
    font-size: calc(1.275rem + .3vw) !important;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}
/*Dropdownmenu*/
/*für die funktion*/
.dd-show-block,.dd-show{
    display:block!important
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    opacity: 1;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 9rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    right: 1rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(1, 0);
}
*, ::after, ::before {
    box-sizing: border-box;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
b, strong {
    font-weight: bolder;
}
img, svg {
    vertical-align: middle;
}
.me-2 {
    margin-right: .5rem !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
}
.dropdown-toggle {
    outline: 0;
}
.text-white {
    color: white !important;
}
.text-decoration-none {
    text-decoration: none !important;
}
.d-flex {
    display: flex !important;
}
.dropdown-toggle {
    white-space: nowrap;
}
.align-items-center {
    align-items: center !important;
}













.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem 7.1875rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.875rem;
}


.loginBox {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.loginBox h2 {
    margin: 0;
    font-size: 3.5rem;

}
