<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contacts | Flow Lama</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
        <link rel="stylesheet" href="contacts.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="array.js"></script>
        <script>
            let tasksFromServer = <%- updatedtasks %>;
            let contactsFromServer = <%- updatedcontacts %>;
            let lastIdFromServer = <%= lastID %>;// Hier wird das Array aus den Server-Daten eingebettet
            console.log("LOS",lastIdFromServer);
            console.log("ROLL",tasksFromServer,contactsFromServer); // Array ist verfügbar und kann verwendet werden
            // Weitere Initialisierungscode hier
            globalTasks=tasksFromServer;
            globalContacts=contactsFromServer;
            GlobalLastId=lastIdFromServer;
            console.log("ER",globalContacts,globalTasks,GlobalLastId)

        </script>
        <script src="dropdown.js"></script>
        <script src="contacs.js"></script>
        <script src="mailer.js"></script>

      </head>
    <body onload="init()">
<!--Sidebar-->
<div class="sidebar">

  <div class="logoContainer">
    <img class="logo" src="./lama.png" alt="Logo Lama">
  </div>

  <ul class="sidebarnav">
    <li>
      <a href="/summary" class="sidebarbutton sidebar-link" aria-current="page" onclick="sendDataToServer('contacts')">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list-check"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
        </svg> Summary
      </a>
    </li>
    <li>
      <a href="/board" class="sidebarbutton sidebar-link" onclick="sendDataToServer('contacts')">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-kanban"
          viewBox="0 0 16 16">
          <path
            d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
          <path
            d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z" />
        </svg> Board
      </a>
    </li>
    <li>
      <a href="/contacts" class="sidebar-link active" onclick="sendDataToServer('contacts')">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
        </svg> Contacts
      </a>
    </li>

  </ul>

</div>
<!--Sidebar-->


<!--Header-->
<div class="header">
  <div class="headertitleName">
    Flow Lama | Kanban Project Management Tool
  </div>
  <hr class="dropdown-divider">
  <div class="dropdown" style="right: 1rem;">
    <a onclick="myFunction()" href="#"
      class="d-flex align-items-center text-user text-decoration-none dropdown-toggle" aria-expanded="false">
      <svg width="60"viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9999 6C9.79077 6 7.99991 7.79086 7.99991 10C7.99991 12.2091 9.79077 14 11.9999 14C14.209 14 15.9999 12.2091 15.9999 10C15.9999 7.79086 14.209 6 11.9999 6ZM17.1115 15.9974C17.8693 16.4854 17.8323 17.5491 17.1422 18.1288C15.7517 19.2966 13.9581 20 12.0001 20C10.0551 20 8.27215 19.3059 6.88556 18.1518C6.18931 17.5723 6.15242 16.5032 6.91351 16.012C7.15044 15.8591 7.40846 15.7251 7.68849 15.6097C8.81516 15.1452 10.2542 15 12 15C13.7546 15 15.2018 15.1359 16.3314 15.5954C16.6136 15.7102 16.8734 15.8441 17.1115 15.9974Z" fill="#627254"/>
      </svg>
    </a>
    <ul id="Demo" class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" onclick="sendDataToServer('contacts')" href="/logout">Sign out</a></li><!--HIER SIGNOUT - COOKIES BEENDEN-->
    </ul>
  </div>
</div>
<!--Header-->


<!--Modal add contacts-->
<div id="id01" class="modal d-none" onclick="closeForm()">
    <div class="modal-content" onclick="event.stopPropagation();">
        <div class="popup-title">
            <h1 class="contentTitle">Add contact</h1>
            <span class="contentTitleSpan">Tasks are better with a team!</span>
        </div>
        <div class="popup-fields" id="popup-fields">
        </div>
    </div>

</div>
    </div>
</div><!--MODAL LOGIN ENDE-->

<!-- Page Content -->
<div class="contentContacts d-flex">
  <div id="contactList">


    <div class="add-new">
        <div class="add-new-button" onclick="openAddContant()">
            <span>Add new contact</span><svg xmlns="http://www.w3.org/2000/svg" color="white" width="25" height="25" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
            </svg>
        </div>
    </div>
    <div  class="contact-list"><div class="contact-list-padding"></div>
<div id="contactsListContainer"></div>
      </div>
    </div> 



<!-- MainContent -->
  <div id="mainContent" class="mainContent">
    <section>
      <h1 class="contentTitle" style="color:black;">Contacts</h1>
    </section>
    <div id="openContacs">
      
    </div>
  </div><!-- MainContent End -->

</div><!-- Page Content ENDE -->

    </body>
</html>