<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Summary | Flow Lama</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="stylesheet" href="summary.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="dropdown.js"></script>
    <script src="summary.js"></script>
    <script src="array.js"></script>
  </head>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        const eventSource = new EventSource('/events');

        eventSource.onmessage = function(event) {
          const data = JSON.parse(event.data);
          console.log('Update received (SUMMARY):', data);
          //@LION Hier data in Array einfügen. Logik für unterteilung dafür bitte selbst ausdenken. Inspiration kannst du dir evtl.
          //aus myEmitter.js ab Zeile 91 holen
          //Ob du bereits die richtigen Daten schickst, kannst du in der Browser-Konsole sehen. Rechtsklick auf Seite und dann "inspect" oder der gleichen und dort Konsole öffnen
          //Bisher kommt immer "TEST" an

        };

        eventSource.onerror = function(err) {
          console.error('EventSource failed:', err);
          sendDataToServer();
          eventSource.close();
        };
      });
    </script>

  <body onload="init()">
    <!--Sidebar-->
    <div class="sidebar">
      <div class="logoContainer">
        <img class="logo" src="./lama.png" alt="Logo Lama" />
      </div>

      <ul class="sidebarnav">
        <li>
          <a href="/summary" class="sidebar-link active" aria-current="page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-list-check"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
              />
            </svg>
            Summary
          </a>
        </li>
        <li>
          <a href="/board" class="sidebarbutton sidebar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-kanban"
              viewBox="0 0 16 16"
            >
              <path
                d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
              />
              <path
                d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"
              />
            </svg>
            Board
          </a>
        </li>
        <li>
          <a href="/contacts" class="sidebarbutton sidebar-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-person-lines-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"
              />
            </svg>
            Contacts
          </a>
        </li>
      </ul>
    </div>

    <!--Header-->
    <div class="header">
      <div class="headertitleName">
        Flow Lama | Kanban Project Management Tool
      </div>
      <hr class="dropdown-divider" />
      <div class="dropdown" style="right: 1rem">
        <a
          onclick="myFunction()"
          href="#"
          class="d-flex align-items-center text-user text-decoration-none dropdown-toggle"
          aria-expanded="false"
        >
          <svg
            width="60"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9999 6C9.79077 6 7.99991 7.79086 7.99991 10C7.99991 12.2091 9.79077 14 11.9999 14C14.209 14 15.9999 12.2091 15.9999 10C15.9999 7.79086 14.209 6 11.9999 6ZM17.1115 15.9974C17.8693 16.4854 17.8323 17.5491 17.1422 18.1288C15.7517 19.2966 13.9581 20 12.0001 20C10.0551 20 8.27215 19.3059 6.88556 18.1518C6.18931 17.5723 6.15242 16.5032 6.91351 16.012C7.15044 15.8591 7.40846 15.7251 7.68849 15.6097C8.81516 15.1452 10.2542 15 12 15C13.7546 15 15.2018 15.1359 16.3314 15.5954C16.6136 15.7102 16.8734 15.8441 17.1115 15.9974Z"
              fill="#627254"
            />
          </svg>
        </a>
        <ul id="Demo" class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          <!--HIER SIGNOUT - COOKIES BEENDEN-->
        </ul>
      </div>
    </div>
    <!--Header-->

    <!-- Page Content -->
    <div class="contentSummary">
      <section class="summary">
        <div class="summary-title">
          <h1>Flow Lama</h1>
          <svg
            width="4"
            height="63"
            viewBox="0 0 4 63"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 2V61"
              stroke="#899d6a"
              stroke-width="3"
              stroke-linecap="round"
            />
          </svg>
          <span>Go with the flow</span>
          <img
            class="mobile-vector"
            src="./assets/img/Mobile/contacts_mobile/Vector 5.svg"
            alt=""
          />
        </div>
        <div class="summary-main">
          <div class="summary-board noselect" id="summary-board"></div>
          <div class="summary-greeting">
            <div id="greeting">
              <!--ID GREETING-->
              <h2>Welcome,</h2>
              <h1><%= username %></h1>
              <!--HIER NAMEN GENERIEREN-->
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
